
.couvertureSud img{
position :absolute;
top: 0rem;
width: 100%;
height: 100vh;
}

.couvertureSud_responsive img{
 display: none;
 position :absolute;
top: 0rem;
width: 100%;
height: 100vh;
}
